{% load static %}
<html>
    <head>
        <title>Craigslist Junior</title>
        <link rel="stylesheet" href="{% static 'css/craigslist-juniorApp.css' %}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <body>
            <div class="page-header">
                    <a href="{% url 'new_category' %}" class="top-menu">Add a new category</a>
            <h1><a href="http://localhost:8000/categories/">Categories</a></h1>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>